.container{
    padding: 0%;
  
}

.f-grid {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: row wrap;
    margin-left: 10%;
}
#Title{
    padding-left: 2%;
 
}

.content{
display: flex;
align-items: center;
padding-top: 10px;
margin-left: -25%;
margin-bottom: 30px;
}
.f-grid-col {
    flex: 1 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.Image{
    width: 600px;
    height: 300px;
}
.Image-img{
    width: 200px;
    height: 100px;
}
#category-id{
width: 50%;
/* text-align: center; */
padding-right: 10%;
/* margin-left: 30%; */
padding-top: 3%;
}
#category-name{
    margin-right: 30%;
}

  